---
import Layout from '../layouts/Layout.astro';
import i18next, { t } from "i18next";
import { Trans, HeadHrefLangs } from "astro-i18next/components";
---

<Layout>
	<h1>{t("home.title")}</h1>
	<p>{t("home.subtitle")}</p>
</Layout>
